.jumbotron {
  text-align: center;
  margin: 0 15% 0 15%;
  color: #428bca;
  text-shadow: 2px 0px white;
}
img {
  width: 70%;
  margin: 2px 15% 0 15%;
  border-radius: 5px;
}
.row {
  margin: 0 10% 0 10%;
}
p {
  font-family: courier;
  text-align: justify;
}
h2 {
  font-family: Trebuchet MS;
  text-align: center;
}
h3 {
  font-family: Trebuchet MS;
  text-align: center;
}
ul {
  font-family: courier;
  text-align: center;
  list-style-type: none;
}
ul a:hover {
  text-decoration: none;
  background-color: #5cb85c;
  border-radius: 2px;
}
footer p {
  text-align: center;
}
